/* Menu Button */

#menu {
    position: absolute;
    z-index: 2;

}

#menu > input[type="checkbox"]{
    opacity: 0;
    cursor: pointer;

    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 2;
}

#menu > img {
    height: 60px;
}

/* Profile Container */

 #profile-container {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;

    width: 20%;
    min-width: 300px;

    height: fit-content;   
    min-height: 100vh;
    
    transform: translateY(-1000%);

    background: #F9D94EF0;
    box-shadow: -4px -2px 12px 0px;

    text-align: center;
}

#profile-container > table > tbody {
    margin: auto;
}



#profile-picture {
    height: 180px;

    border: solid 20px transparent;
    border-image: url(src/images/border.png) round 70;
}

#profile-container > table > tbody > tr > td {
    width: 50%;
} 

#profile-container > table > tbody > tr > td > img {
    height: 70px;
    background: #120623;
    border: solid 10px transparent;
    border-image: url(src/images/border.png) round 70;
}

#profile-container > table > tbody > tr > td > span {
    display: inline-block;
    margin: 5px 0;
} 


#profile-container > table {
    width: 80%;
    display: flex;
    margin: auto;
}

#profile-container > a:nth-child(1){
    margin-top: 5vh;
}

#profile-container > a:nth-child(4) {
    margin-top: auto;
    margin-bottom: 15px;
    text-decoration: none;
}

#profile-picture[src*='src/images/default_icon.png'] {
    border: 0;
    filter: invert();
    background-color: #ededed;
    border-radius: 100%;
}

#game-logo {
    height: 500px;
    display: flex;
    justify-content: center;
}

#game-logo > img[src*='src/images/under_pressure.png'] {
    display: flex;
    
    margin: auto;
    
    height: 200px;
}


/* Log-Out and Refresh Button */

#buttons {
    display: flex;
    justify-content: space-between;
}

#log-out, #refresh {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    cursor: pointer;
}

#log-out > img {
    height: 80px;
}

#log-out > img:nth-child(2) {
    display: none;
}

#refresh > img {
    height: 60px;
    filter: invert(1);
}

#refresh > img:hover {
    display: inline-block;
    transform: rotateZ(360deg);
    transition: 1.4s;
}


/* Auth Button */

#auth-btn {
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    border: solid 2px rgb(248, 248, 248);

    display: flex;
    color: rgb(248, 248, 248);

    align-items: center;
    padding: 5px 10px;

    width: 55%;
    margin: 10% auto;
}

#auth-btn img {
    padding: 5px;
    padding-right: 8px;

    height: 30px;
    
    filter: invert();
}

#auth-btn > p {
    flex-grow: 1;
}