#scoreboard {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    font-size: 25px;
}

#lifes > img {
    display: flex;
    margin: auto;

    height: 75px;
    opacity: 0.9;
}

#newLife {
    transform: translateX(-1000%);
}

#newLife > img {
    height: 100px;
    margin: auto;
    display: flex;
}

#prompt > button {
    width: 200px;
    padding: 20px 32px;
    margin: 50px auto;

    font-size: 18px;

    border: none;
    border-radius: 5px;

    cursor: pointer
}

#score {
    font-size: 35px;
    margin: 15px auto 5px auto;
}

#multiplier {
    margin: 0 auto;
}

#scoreboard > div:nth-child(6) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;

    margin-top: auto;

    padding: 10px;
}

#difficulty > img, #streak > img, #highscore > img{
    height: 75px;
    display: flex;
    margin: 0 auto;
}

#timer > img {
    width: 200px;
}