#profile-container {
    background: #F9D94EF0;
}

#profile-container > table > tbody > tr > td > img {
    background: #120623;
    border-image: url("../../images/border_purple.png") round 70;
}

#profile-picture {
    border-image: url("../../images/border_purple.png") round 70;
}

.swal-button, .swal-button:not([disabled]):hover {
    background-color: #6D23D1;
}

#prompt > button {
    background-color: #6C23D1DE;
    color: white;
}

#difficulty-selector label:hover{
    color: #823FDE;
}

#difficulty-selected {
    color: #6D23D1
}

#container > div:nth-child(3) {
    color: white;
}

#scoreboard {
    color: white;
}

#scoreboard > div:nth-child(5) {
    color: black;
}