#profile-container {
    background: #63D2FFF0;
}

#profile-container > table > tbody > tr > td > img {
    background: #ADE8FF;
    border-image: url('../../images/border_blue.png') round 70;
}

#profile-picture {
    border-image: url('../../images/border_blue.png') round 70;
}

.swal-button, .swal-button:not([disabled]):hover {
    background-color: #2081C3;
}

#prompt > button {
    background-color: #2081C3DE;
    color: white;
}

#difficulty-selector label:hover{
    color: #2081C3;
}

#difficulty-selected {
    color: #78D5D7;
}
