* {
    margin: 0;
}

#scoreboard {
    position: absolute;
    width: 50%;
    height: 80vh;
    margin: auto;
    border: 1px solid red;
}

#highscore {
    font-size: 12px;
    top: 35px;
    text-align: center;
    width: 100%;
    position: absolute;
}

#lifes {
    position: relative;
    bottom: 0;
}

#lifes img {
    height: 75px;
}

#difficulty {
    position: absolute;
    bottom: 0;
    left: 0;
}

#streak {
    position: absolute;
    bottom: 0;
    right: 0;
}
