@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    margin: 0;
    font-family: 'Aldrich', sans-serif;
}

#scoreboard {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: calc(100vh - 2px);
    margin: auto;

    border: 1px solid red;
}

#lifes img {
    display: flex;
    margin: auto;

    height: 75px;
}

#prompt button {
    width: 200px;
    margin: 10px auto;
    background-color: #172950c9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}