@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    margin: 0;
    font-family: 'Aldrich', sans-serif;
    color: white;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 40%;
    height: calc(100vh - 2px);
    margin: auto;

    border-left: 1px solid white;
    border-right: 1px solid white;
}

#lifes img {
    display: flex;
    margin: auto;

    height: 75px;
}

#prompt button {
    width: 200px;
    margin: 10px auto;
    background-color: #172950c9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#score {
    font-size: 35px;
    margin: 15px auto 5px auto;
}

#multiplier {
    margin: 0 auto;
}

#streak {
    width: 100%;

    position: absolute;
    bottom: 0;

    text-align: center
}

#difficulty {
    position: absolute;
    bottom: 0;

    text-align: center;
}

#highscore {
    position: absolute;
    bottom: 0;
    right: 0;

    text-align: center;
}
