@font-face {
  font-family: 'Retro Gaming';
  src: url('src/fonts/Retro Gaming.ttf');
}

* {
  margin: 0;
  font-family: 'Retro Gaming', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
}

#title  {
  width: 100%;

  text-align: center;
  font-size: 50px;
}

#title img{
  margin: 0;
  height: 250px;
}

#difficulty-selector input[type="radio"]{
  display: none;
}

#difficulty-selector label{
  display: inline-block;

  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

#background {
  position: fixed;
  z-index: -1;

  width: 100%;

  min-height: 100%;

  object-fit: cover;
}

#home {
  position: absolute;
  top: 0;
  right: 0;
}

#home-btn {
  background: none;
  border: none;
  cursor: pointer;
}

#home-btn > img {
  height: 75px;
}

#prompt {
  display: flex;
  flex-direction: column;
  margin: auto;

  width: 100%;

  text-align: center;
};

#scoreboard {
  color: white;
}

#scoreboard > div:nth-child(5) {
  color: black;
}

/* Blue Theme */ 

.blue-theme-profile-container {
  background: #63D2FFF0;
}

.blue-theme-profile-container > table > tbody > tr > td > img, .blue-theme-profile-picture {
  background: #ADE8FF;
  border-image: url('../../images/border_blue.png') round 70;
}

.swal-button-blue, .swal-button-blue:not([disabled]):hover {
  background-color: #2081C3;
}

.prompt-button-blue {
  background-color: #2081C3DE;
  color: white;
}

.difficulty-selector-blue label:hover{
  color: #2081C3;
}
 
.difficulty-selected-blue label:hover{
  color: #78D5D7;
}



/* Purple Theme */ 

.purple-theme-profile-container {
  background: #F9D94EF0;
}

.purple-theme-profile-container > table > tbody > tr > td > img, .purple-theme-profile-picture {
  background: #120623;
  border-image: url("../../images/border_purple.png") round 70;
}

.swal-button-purple, .swal-button-purple:not([disabled]):hover {
  background-color: #6D23D1;
}

.prompt-button-purple {
  background-color: #6C23D1DE;
  color: white;
}

.difficulty-selector-purple label:hover{
  color: #823FDE;
}
 
.difficulty-selected-purple label:hover{
  color: #6D23D1
}

.container-purple > div:nth-child(3) {
  color: white;
}